{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
{% block navigation %} {% endblock %}

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table hover">
                <thead>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Color</th>
                    <th>Mileage</th>
                    <th>Year</th>
                </thead>
                <tbody>
                    {% for car in cars %}
                        <tr>
                            <td>{{ car.brand }}</td>
                            <td>{{ car.model }}</td>
                            <td>{{ car.color }}</td>
                            <td>{{ car.mileage }}</td>
                            <td>{{ car.production_year }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}