{% extends "base.html" %}

{% block title %} Home {% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                <th>Car Type</th>
                <th>Car Model</th>
                <th>Price</th>
                <th>Action</th>
                </thead>
                    <form>
                    <form action="{{ url_for('checkout') }}" method="post"></form>
                        {% for cat in categories %}
                            <tr>
                                <td>{{ cat.name }}</td>
                                <td>{{ cat.car_name }}</td>
                                <td>$ {{ cat.price }}</td>
                                <td>
                                    <button type="button" class="btn btn-success" onclick="window.location.href='{{ url_for( 'checkout' , category=cat.id ) }}';">Checkout</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </form>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}